.wrapper {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  z-index: 99999;

  &.opened {
    .burgerButton {
      display: none;
    }

    .expandButton {
      display: none;
    }

    .menuWrapper {
      width: 260px;
    }

    .menuItemsWrapper {
      visibility: visible;
    }
  }

  &.closed {
    overflow-y: hidden;
    .burgerButton {
      display: block;
      pointer-events: auto;

      @media (min-width: 768px) {
        display: none;
      }
    }

    .menuWrapper {
      width: 0;

      .expandButton {
        display: none;
      }

      @media (min-width: 768px) {
        width: 40px;

        .menuItemsWrapper {
          visibility: hidden;
        }

        .expandButton {
          display: flex;
        }
      }
    }
    @media (max-width: 768px) {
      pointer-events: none;
    }
  }

  .menuWrapper {
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
    cursor: pointer;
    transition: width 200ms linear;
    height: 100%;

    .expandButton {
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .menuItemsWrapper {
      padding-bottom: 20px;
      transition: visibility 200ms linear 200ms;
      overflow-y: auto;
      height: 100%;
    }
  }

  .burgerButton {
    padding: 5px 0 0 5px;
  }
}
