.schedule-settings-form {
  .pre-filters {
    .col-md-6 {
      margin-top: 10px;
    }
  }

  .toggle-options {
    .toggle-option {
      margin-bottom: 15px;
    }

    .toggle-option-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      label {
        margin-bottom: 0;
      }
    }

    p {
      margin-top: 4px;
      margin-bottom: 0;
    }
  }
}
