/* src/components/sponsors/reports/report-print.css */
@media print {
  body * {
    visibility: hidden;
  }
  .report-body,
  .report-body * {
    visibility: visible;
  }
  .report-body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
